<div class="container">
  <h1>Completed Todos</h1>

  <div class="todos-list">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of completedTodos; let i= index"
        [ngClass]="{ 'bg-success': todo.completed, 'bg-danger': !todo.completed }">
        <label class="custom-checkbox">

          <input type="checkbox" [(ngModel)]="todo.completed" (click)="taskNotCompleted(todo.id, i )">
          {{ todo.todo }}
          <br>
                <span><strong>Name: {{ getUserFirstName(todo.userId) }}</strong></span>

        </label>

    </ul>
  </div>
</div>