
body{
    background-color: black;

}
nav .libreria{
    background-color: #141414 !important;
}

 #accedi{
    background-color: #101010 !important;
 }

 .mainColor{
    background: linear-gradient(to bottom, #1e1e1e, #181818);
 }
.grandezza{
font-size: .8em ;
}

.grandezza-btn{
    font-size: .6em;
padding: 4px 10px;
}
.grandezza-link{
    font-size: .6em ;
}

.fs-7{
    font-size: .6em;
}
.finto-footer{
    height:78vh;
}
.overfooter:hover{
    scale: 1.1;
    opacity:1;
    color: white ;
    cursor: pointer;
    font-weight: bold;
    
}

.oververde:hover{
    scale: 1.1;
    opacity:1;
    color: #198754 !important ;
    cursor: pointer;
    
}
.pos-volume{
    position: absolute;
    right: 50px;
    top: 20px;
}



.larg-traccia{
    width: 500px;
    
}
.ciao{
    position: fixed;
    bottom: 0;
    background-color: black;
width: 100%;}
.posizione{
    top: 0;
}

#volume-control{
    color: red !important;
background-color: red!important
;
} 

.textbluu{
    color: #032e3f;
}
.cardColor{
    background: #082200;
background: -moz-radial-gradient(center, #082200 0%, #000000 17%, #A2792E 100%);
background: -webkit-radial-gradient(center, #082200 0%, #000000 17%, #A2792E 100%);
background: radial-gradient(ellipse at center, #082200 0%, #000000 17%, #A2792E 100%);
box-shadow: 0px 20px 25px 8px rgb(0,0,0,0.4);
}

.sfondo-artista{
   box-shadow: 10px 60px 60px 0px rgba(247,247,247,0.32);
}

.fix{
position: fixed;
}
.abs{
  position: absolute;
  top: 0;
  right:0 ;  
}

.spostamentoleft{
    margin-left: -60px;
    
}
.spostamentoright{
    margin-right: -60px;
}


.colorfreccia{
    filter: none!important;
    
    }
@media screen and (max-width: 768px){
    .finto-footer{
        height: 26vh ;
    }

.fix,.abs{
position: static;
}
.larg-traccia{
    width: 300px;
}

}

.search-height{
    margin-top: 50px !important;
    cursor: pointer;
}

.card {
    cursor: pointer;
}