<div class="container mb-5">
    <div class="d-flex">
        <select [(ngModel)]="selectedUserId" (change)="filterTodosByUserId()">
            <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }}</option>
          </select>
          
    </div>
</div>
<div class="container">
    <div *ngIf="todos && todos.length > 0">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let todo of todos"
                [ngClass]="{ 'bg-success': todo.completed, 'bg-danger': !todo.completed }">
                <label>
                    <input type="checkbox" [(ngModel)]="todo.completed" (click)="toggleTodoCompletion(todo)">
                    {{ todo.todo }}
                </label>
                <br>
                <span><strong>Name: {{ getUserFirstName(todo.userId) }}</strong></span>

            </li>
        </ul>

    </div>
</div>