<div class="container">
    <div *ngIf="todos && todos.length > 0">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let todo of todos"
                [ngClass]="{ 'bg-success': todo.completed, 'bg-danger': !todo.completed }">
                <label>
                    <input (change)="toggleTodoCompletion(todo.id)" type="checkbox" id="{{todo.id}}" [(ngModel)]="todo.completed" >
                    {{ todo.todo }}
                </label>
                <br>
                <span><strong>Assegned to: {{ getUserFirstName(todo.userId) }}</strong></span>

            </li>
        </ul>
    </div>
</div>