<div class="container mt-5 text-start d-flex justify-content-between">
    <div class="card-wrapper col-5">
        <p class="card-tags text-uppercase fw-bold">{{ posts[randomIndex].tags }}</p>
        <div class="title">
            <h4 class="card-title">{{ posts[randomIndex].title }}</h4>
        </div>
        <div class="reaction">
            <p class="card-reaction">Reactions: {{ posts[randomIndex].reactions }}</p>
        </div>
        <div class="card-text">
            <p class="card-text">{{ posts[randomIndex].body }}</p>
        </div>
        <a href="">Leggi di più</a>
    </div>
    <div class="card-wrapper col-5">
        <p class="card-tags text-uppercase fw-bold">{{ posts[randomIndex].tags }}</p>
        <div class="title">
            <h4 class="card-title">{{ posts[randomIndex].title }}</h4>
        </div>
        <div class="reaction">
            <p class="card-reaction">Reactions: {{ posts[randomIndex].reactions }}</p>
        </div>
        <div class="card-text">
            <p class="card-text">{{ posts[randomIndex].body }}</p>
        </div>
        <a href="">Leggi di più</a>
    </div>
</div>
