body, html{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
}
.titolo{
    border-bottom: 1px solid gray;
}
#telefono{
    border-bottom: 1px solid gray;
}
#plain{
    border-bottom: 1px solid gray;
}
#settings{
    border-bottom: 1px solid gray;
}
