/* You can add global styles to this file, and also import other style files */

.container{
    border: 1px solid lightgrey;
    border-top: 2px solid black;
}
h3 {
  color: yellow;
}

h5 {
  color: red;
}
