html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #742305;
}

#container {
  display: flex;
  flex-direction: column;
}

/* AREA NAV */

nav {
  background-color: #fef7e2;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  margin: 10px;
  background-color: #ffdf7e;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 20px;
  width: 35%;
  font-weight: bold;
}
#shop {
  order: -1;
  width: 60%;
  height: 60px;
  font-size: 2rem;
}

nav img {
  height: 40px;
}

@media screen and (min-width: 576px) {
  nav {
    border-radius: 0;
    flex-wrap: nowrap;
  }
  .nav-item {
    margin: 0;
    width: auto;
    padding: 7px;
  }
  #shop {
    order: 0;
    width: auto;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
  }

  .nav-item {
    margin: 10px;
    height: 80px;
    width: 100%;
  }

  #shop {
    order: -1;
    width: 100%;
  }
  main {
    height: 100vh;
    width: 75%;
    overflow: auto;
  }
 
}

/* MAIN*/

h1 {
  text-align: center;
  font-weight: 700;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.img {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.img img {
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.descrizione {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fef7e2;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px;
}
.titolo {
  width: 75%;
}
.titolo h4 {
  margin: 0;
}
.titolo p{
    margin: 0;
    font-size: 0.9rem;
}
.prezzo {
  width: 25%;
}
.descrizione button {
    background-color: #ffdf7e;
    width: 60%;
    margin: 0 auto;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    color: #742305;
    padding: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 576px){

    .cards{
        justify-content: center;
    }
    .cards .img {
        width: 44%;
    }
    .cards .img:last-child {
        display: none;
    }
}


@media screen and (min-width: 768px) {

    #container{
        flex-direction: row;
    }
    main {
        height: 100vh;
        width: 75%;
        overflow: auto;
      }
}

@media screen and (min-width: 1200px) {
    .cards{
        flex-wrap: nowrap;
    }
    .cards .img:last-child{
        display: flex;
    }
    
}


/* ARTICLE */

article {
    padding: 30px;
    background-color: #fef7e2;
    border-radius: 30px;
    margin: 0 15px;
}

article img {
    width: 100%;
}

@media screen and (min-width: 576px) {
    main h2 {
        text-align: left;
        margin-left: 20px;
    }
}