<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngIf="combinedArray && combinedArray.length > 0">
      <div class="card mb-3" *ngFor="let item of combinedArray">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="item.user.image" class="card-img" alt="User Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{ item.user.firstName }} {{ item.user.lastName }}</h3>
              <h5 class="card-text">Titolo: {{ item.user.title }}</h5>
              <p class="card-text">Email: {{ item.user.email }}</p>
              <p class="card-text">Title: {{ item.user.title }}</p>
              <p class="card-text">Todo: {{ item.todo.todo }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="!combinedArray || combinedArray.length === 0">
      <p>Nessun dato da mostrare.</p>
    </div>
  </div>
</div>
