<div class="container">
  <div class="row justify-content-center">
    <input type="text" [(ngModel)]="searchUserTerm" placeholder="Search by user...">
  </div>
  <div class="row justify-content-center mt-5" *ngFor="let item of combinedArray | keyvalue">
    <div class="card mb-3" *ngIf="matchesSearch(item.value.user)">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="item.value.user.image" class="card-img" alt="User Image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{ item.value.user.firstName }} {{ item.value.user.lastName }}</h3>
            <h5 class="card-text">Titolo: {{ item.value.user.title }}</h5>
            <p class="card-text">Email: {{ item.value.user.email }}</p>
            <p class="card-text">Title: {{ item.value.user.title }}</p>

            <ul>
              <li *ngFor="let todo of item.value.todos">
                <p class="card-text" [ngClass]="{ 'bg-success': todo.completed, 'bg-danger': !todo.completed }"><label>
                    <input type="checkbox" [(ngModel)]="todo.completed" (click)="toggleToDoCompletion(todo)">Todo: {{
                    todo.todo }}</label></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>