<div class="container">
    <h1>Not Completed Todos</h1>
  
    <div class="todos-list">
      <div class="todos-list">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let todo of todos" [ngClass]="{ 'bg-success': todo.completed, 'bg-danger': !todo.completed }">
            <label class="custom-checkbox">
              <input type="checkbox" class="real-checkbox" [checked]="todo.completed" (change)="toggleComplete(todo)">
              {{ todo.todo }}
              
          </label>
        </ul>
      </div>
    </div>
  </div>
  
