<div class="container">
    <h1>Hey Boss, what's my task for the day?</h1>

    <div class="btn-group mb-5 mt-5" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary ms-2" [routerLink]="['/by-user']">By user</button>
        <button type="button" class="btn btn-primary ms-2" [routerLink]="['/not-completed']">Non completate</button>
        <button type="button" class="btn btn-primary ms-2" [routerLink]="['/completed']">Completate</button>
        <button type="button" class="btn btn-primary ms-2" [routerLink]="['/']">Visualizza tutte</button>
    </div>
    
</div>