<div class="container mt-5 text-start d-flex justify-content-between">
    <div class="card-wrapper col-5" *ngFor="let index of randomIndexes">
        <p class="card-tags text-uppercase fw-bold">{{ posts[index].tags }}</p>
        <div class="title">
            <h4 class="card-title">{{ posts[index].title }}</h4>
        </div>
        <div class="reaction">
            <p class="card-reaction">Reactions: {{ posts[index].reactions }}</p>
        </div>
        <div class="card-text">
            <p class="card-text">{{ posts[index].body }}</p>
        </div>
        <a href="">Leggi di più</a>
    </div>
</div>
